<div class="container my-5">
    <h2 class="text-center">Portfolio</h2>
    <div class="row g-4">
      <div class="col-md-4">
        <h4 class="portfolio-card portfolio-card-light">
          WEB DESIGN
        </h4>
      </div>
      <div class="col-md-4">
        <h4 class="portfolio-card">
          MOBILE DESIGN
        </h4>
      </div>
      <div class="col-md-4">
        <h4 class="portfolio-card portfolio-card-light">
          LOGO DESIGN
        </h4>
      </div>
      <div class="col-md-4">
        <h4 class="portfolio-card">
          WEB APPLICATION DEVELOPMENT
        </h4>
      </div>
      <div class="col-md-4">
        <h4 class="portfolio-card portfolio-card-light">
          MOBILE APPLICATION DEVELOPMENT
        </h4>
      </div>
      <div class="col-md-4">
        <h4 class="portfolio-card">
          PWA DEVELOPMENT
        </h4>
      </div>
    </div>
  </div>
